/* BloomReach style for forge maven skin */

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #4f5e67;
}

body.topBarDisabled {
    padding-top: 10px;
}

h1 {
    font-family: Georgia,serif;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 38px;
    margin-left: 15px;
    margin-top: 10px;
}

h2 {
    font-family: interstate-light,Arial,sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h3 {
    font-family: interstate-light,Arial,sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}

h4 {
    font-family: interstate-light,Arial,sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

p, p a, #bodyColumn li {
    font-size: 14px;
}

a {
    font-size: 14px;
}

tt {
    background-color: transparent;
}

.section h1 {
    margin-bottom: 20px;
}

.section h2 {
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
}

.section h3 {
    border-bottom: 1px solid #ddd;
    margin-top: 5px;
    padding: 10px 0px 2px;
}

.section p {
    margin: 3px 0px 14px;
}

.section ul, .section ol {
    margin: 0 0 14px;
}

.section ul {
    padding-left: 17px;
}

.section ol {
    padding-left: 20px;
}

.section img {
    margin: 0 0 14px;
}

ul ul, ol ul, ol ol, ol ul {
    margin: 0;
}

#header {
    padding-top: 20px;
}

nav li a {
    text-transform: uppercase;
}

.nav-list .nav-header {
    font-size: 13px;
    color: #808080;
}

ul {
    padding-left: 15px;
}

ol {
    padding-left: 22px;
}

pre * {
    font-family: Arial, sans-serif;
}

.breadcrumb li {
    text-shadow: none;
    color: #ffffff;
}

#banner #logo {
    float: left;
    height: 70px;
    width: 60px;
    margin-left: 5px;
}

#header h1 {
    float: left;
    margin-left: 50px;
}

ol.linenums {
    padding-left: 30px;
}

#search-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-form #query {
    width: 90%;
    padding: 4px 5%;
}

#breadcrumbs {
    padding: 8px 0;
    margin: 0 0 20px;
    background: #808080; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwODA4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTRkNGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #808080 0%, #4e4d4d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#808080), color-stop(100%,#4e4d4d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #808080 0%,#4e4d4d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #808080 0%,#4e4d4d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #808080 0%,#4e4d4d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #808080 0%,#4e4d4d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#4e4d4d',GradientType=0 ); /* IE6-8 */
}

.breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0;
    margin-right: 25px;
    padding: 0px 15px;
}

#breadcrumbs .links {
    float: left;
    margin-left: 10px;
}

#breadcrumbs .links a {
    color: #ffffff;
    margin: 0 5px;
}

#breadcrumbs .links a:hover {
    color: #ffffff;
}

.note {
    color: #FF0000;
}

.smallinfo {
    color: #909090;
    font-size: 12px;
    font-weight: bold;
}

/* counter attack h3 bottom margin if there is a p.smallinfo sibling (on behalf on the release notes) */
.section h3+p.smallinfo {
    margin-top: -14px;
}

p.copyright, p.copyright a {
    font-style: italic;
    font-size: 12px;
}

div.source {
    border: 1px solid #e3e3e3;
}

/* syntaxhighlighter: to remove line break by the source container div inside a td.*/
.container::before, .container::after {
    content: "";
    display: inherit;
    line-height: 0;
}

a.externalLink[href^=http], a.externalLink[href^=https] {
    background: url('../images/skin/external_link_icon.gif') right center no-repeat;padding-right: 18px;
}
