* text=auto !eol
/LICENSE -text
/NOTICE -text
src/main/resources/META-INF/maven/site.vm -text
src/main/resources/css/bootstrap-2.2.1.css -text
src/main/resources/css/hippostyle.css -text
src/main/resources/css/maven-base.css -text
src/main/resources/css/maven-theme.css -text
src/main/resources/css/print.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCore.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreDefault.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreDjango.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreEclipse.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreEmacs.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreFadeToGrey.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreMDUltra.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreMidnight.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shCoreRDark.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeDefault.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeDjango.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeEclipse.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeEmacs.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeFadeToGrey.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeMDUltra.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeMidnight.css -text
src/main/resources/css/syntaxhighlighter-3.0.83/shThemeRDark.css -text
src/main/resources/images/accessories-text-editor.png -text svneol=unset#image/png
src/main/resources/images/add.gif -text svneol=unset#image/gif
src/main/resources/images/apache-maven-project-2.png -text svneol=unset#image/jpeg
src/main/resources/images/contact-new.png -text svneol=unset#image/png
src/main/resources/images/document-properties.png -text svneol=unset#image/png
src/main/resources/images/drive-harddisk.png -text svneol=unset#image/png
src/main/resources/images/external_link_icon.gif -text svneol=unset#image/gif
src/main/resources/images/fix.gif -text svneol=unset#image/gif
src/main/resources/images/hipposkin/hippo-logo.png -text
src/main/resources/images/icon_error_sml.gif -text svneol=unset#image/gif
src/main/resources/images/icon_help_sml.gif -text svneol=unset#image/gif
src/main/resources/images/icon_info_sml.gif -text svneol=unset#image/gif
src/main/resources/images/icon_success_sml.gif -text svneol=unset#image/gif
src/main/resources/images/icon_warning_sml.gif -text svneol=unset#image/gif
src/main/resources/images/image-x-generic.png -text svneol=unset#image/png
src/main/resources/images/logos/build-by-maven-black.png -text svneol=unset#image/png
src/main/resources/images/logos/build-by-maven-white.png -text svneol=unset#image/png
src/main/resources/images/logos/maven-feather.png -text svneol=unset#image/png
src/main/resources/images/network-server.png -text svneol=unset#image/png
src/main/resources/images/package-x-generic.png -text svneol=unset#image/png
src/main/resources/images/profiles/pre-release.png -text svneol=unset#image/png
src/main/resources/images/profiles/retired.png -text svneol=unset#image/png
src/main/resources/images/profiles/sandbox.png -text svneol=unset#image/png
src/main/resources/images/remove.gif -text svneol=unset#image/gif
src/main/resources/images/rss.png -text svneol=unset#image/png
src/main/resources/images/update.gif -text svneol=unset#image/gif
src/main/resources/images/window-new.png -text svneol=unset#image/png
src/main/resources/img/glyphicons-halflings-white.png -text svneol=unset#image/png
src/main/resources/img/glyphicons-halflings.png -text svneol=unset#image/png
src/main/resources/js/bootstrap-2.2.1.js -text
src/main/resources/js/jquery-1.8.0.js -text
src/main/resources/js/main.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shAutoloader.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushAS3.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushAppleScript.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushBash.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushCSharp.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushColdFusion.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushCpp.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushCss.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushDelphi.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushDiff.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushErlang.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushGroovy.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushJScript.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushJava.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushJavaFX.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushPerl.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushPhp.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushPlain.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushPowerShell.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushPython.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushRuby.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushSass.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushScala.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushSql.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushVb.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shBrushXml.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shCore.js -text
src/main/resources/js/syntaxhighlighter-3.0.83/shLegacy.js -text
src/site/resources/images/BrowserHeaderTitle.png -text svneol=unset#image/png
