* text=auto !eol
/LICENSE -text
/NOTICE -text
src/main/resources/META-INF/maven/site.vm -text
src/main/resources/css/bootstrap-2.2.1.css -text
src/main/resources/css/hippostyle.css -text
src/main/resources/css/maven-base.css -text
src/main/resources/css/maven-theme.css -text
src/main/resources/css/prettify.css -text
src/main/resources/css/print.css -text
src/main/resources/images/accessories-text-editor.png -text
src/main/resources/images/add.gif -text
src/main/resources/images/apache-maven-project-2.png -text
src/main/resources/images/application-certificate.png -text
src/main/resources/images/contact-new.png -text
src/main/resources/images/document-properties.png -text
src/main/resources/images/drive-harddisk.png -text
src/main/resources/images/fix.gif -text
src/main/resources/images/hipposkin/hippo-logo.png -text
src/main/resources/images/icon_error_sml.gif -text
src/main/resources/images/icon_help_sml.gif -text
src/main/resources/images/icon_info_sml.gif -text
src/main/resources/images/icon_success_sml.gif -text
src/main/resources/images/icon_warning_sml.gif -text
src/main/resources/images/image-x-generic.png -text
src/main/resources/images/internet-web-browser.png -text
src/main/resources/images/logos/build-by-maven-black.png -text
src/main/resources/images/logos/build-by-maven-white.png -text
src/main/resources/images/logos/maven-feather.png -text
src/main/resources/images/network-server.png -text
src/main/resources/images/package-x-generic.png -text
src/main/resources/images/profiles/pre-release.png -text
src/main/resources/images/profiles/retired.png -text
src/main/resources/images/profiles/sandbox.png -text
src/main/resources/images/remove.gif -text
src/main/resources/images/rss.png -text
src/main/resources/images/update.gif -text
src/main/resources/images/window-new.png -text
src/main/resources/img/glyphicons-halflings-white.png -text
src/main/resources/img/glyphicons-halflings.png -text
src/main/resources/js/bootstrap-2.2.1.js -text
src/main/resources/js/jquery-1.8.0.js -text
src/main/resources/js/main.js -text
src/main/resources/js/prettify.js -text
