* text=auto !eol
/LICENSE -text
/NOTICE -text
src/main/resources/META-INF/maven/site.vm -text
src/main/resources/css/hippostyle.css -text
src/main/resources/images/hipposkin/hippo-logo.png -text
src/site/resources/images/BrowserHeaderTitle.png -text svneol=unset#image/png
